{% load static %}

<html>

<head>
    <title>Display {{ display.code }} diagnostics</title>
    <meta charset="UTF-8" />
    <!-- Basic CSS that, if loaded, will give a better look to the page -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'diagnostics.svg' %}" />
</head>

<body>
    <h1>Display Diagnostics</h1>
    <h1><code>{{ display.code }}</code></h1>

    <div style="display: grid; grid-template-columns: 1fr 1fr 1fr; gap: 5%; align-items: start;">
    <table>
        <thead>
            <tr>
                <th colspan="2">Display Information</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Display ID</td>
                <td><code>{{display.id}}</code></td>
            </tr>
            <tr>
                <td>Display Code</td>
                <td><code>{{display.code}}</code></td>
            </tr>
            <tr>
                <td>Display Description</td>
                <td>{{display.description}}</td>
            </tr>
            <tr>
                <td>Device ID</td>
                <td><code id="js--device-id"></code></td>
            </tr>
        </tbody>
    </table>

    <table>
        <thead>
            <tr>
                <th colspan="2">Schedule Information</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>ID</td>
                <td><code>{{schedule.id}}</code></td>
            </tr>
            <tr>
                <td>Date</td>
                <td>{{schedule.start_date}} &ndash; {{schedule.end_date}}</td>
            </tr>
            <tr>
                <td>Time</td>
                <td>{{schedule.start_time}} &ndash; {{schedule.end_time}}</td>
            </tr>
        </tbody>
    </table>

    <table>
        <thead>
            <tr>
                <th colspan="2">Page Information</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Page ID</td>
                <td><code>{{page.id}}</code></td>
            </tr>
            <tr>
                <td>Description</td>
                <td><code>{{page.description}}</code></td>
            </tr>
            <tr>
                <td>Page Path</td>
                <td style="max-width: 50px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap"><a href="{{ page.path }}">{{ page.path }}</a></td>
            </tr>
        </tbody>
    </table>
</div>

    <h2>Live Display</h2>

    <iframe src={% url 'display_view' display.code %} width="100%" height="460px"></iframe>

    <script>
        window.onload= function() {
            document.getElementById('js--device-id').innerText = localStorage.getItem('device_id');
        };
    </script>
</body>

</html>