{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'favicon.svg' %}"/>
    <style>
        .container {
            height: 100vh;
            width: 100vw;
            background-color: #ccc;
        }
        body {
            margin: 0;
            padding: 0;
        }
    </style>
</head>

<body>
    <main class="container">
        <div style="display: flex; align-items: center; justify-content: center; height: 100%; flex-direction: column;">
            <div style="font-size: 5vw; font-family: 'Source Code Pro', 'Ubuntu Mono', 'Consolas', monospace" title="Display Code">
                {{ display.code }}
            </div>
            <div class="hypsign--loading" style="font-family: sans-serif; opacity: 0">
                Loading&hellip;
            </div>
        </div>
    </main>

    <script src="{% static 'display.js' %}"></script>
</body>

</html>